
@page "/dashboard"
@using Microsoft.AspNetCore.Authorization

@inject IHttpClientFactory HttpClientFactory
@inject AuthenticationService AuthService

@attribute [Authorize]

<h1>Dashboard</h1>
<h3>Projects: @projects.Count</h3>

    <div>
        <OccurrenceCounts Field="Designers" Projects="projects" />
    </div>

    <div>
        <OccurrenceCounts Field="Analysts" Projects="projects" />
    </div>

    <div>
        <OccurrenceCounts Field="Architects" Projects="projects" />
    </div>

    <div>
        <OccurrenceCounts Field="Tags" MaxItems="5" Projects="projects" />
    </div>
    <div>
        <OccurrenceCounts Field="Skills" MaxItems="5" Projects="projects" />
    </div>
    <div>
        <OccurrenceCounts Field="ProjectStatus" Projects="projects" />
    </div>
    <div>
        <OccurrenceCounts Field="ProjectStage" Projects="projects" />
    </div>
    <div>
        <NonEmptyCounts Field="BallparkHours" Projects="projects" />
    </div>




@code {
    private List<Project> projects = new();

    protected override async Task OnInitializedAsync()
    {
        await FetchProjectsAsync();
    }

    private async Task FetchProjectsAsync()
    {
        HttpClient? client = HttpClientFactory.CreateClient("SupabaseClient");
        HttpRequestMessage? HttpRequestMessage = new HttpRequestMessage(
            HttpMethod.Get, 
            $"{AuthService.SupabaseUrl}/rest/v1/projects");
        HttpRequestMessage.Headers.Add("apikey", AuthService.SupabaseKey);
        HttpRequestMessage.Headers.Add("Authorization", $"Bearer {AuthService.AccessToken}");    
        HttpResponseMessage? response = await client.SendAsync(HttpRequestMessage);
        if (response.IsSuccessStatusCode)
        {
            var json = await response.Content.ReadAsStringAsync();
            projects = await response.Content.ReadFromJsonAsync<List<Project>>() ?? new List<Project>();
        }
    }

}
